.banner
  margin-top: -50px
  padding-top: 131px
  padding-bottom: 142px
  background: url("../img/banner.jpg") no-repeat

  &__tile
    width: 70%
    margin: 0 auto
    padding: 45px 47px 70px
    background: transparentize($accent-color, .5)

  &__text
    @include font-size(45.87)
    @include line-height(48)
    font-family: 'Segoe UI Semilight', 'Segoe UI', Helvetica, Arial, sans-serif
    color: #fff
    text-align: center
    text-transform: uppercase