.header
  padding-top: 39px
  padding-bottom: 47px
  @include media('<laptop')
    padding-left: 15px
    padding-right: 15px
  @include media('<iphone')
    padding-left: 0
    padding-right: 0

  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    @include media('<iphone')
      flex-direction: column

  &__title
    display: flex
    align-items: center
    @include media('<iphone')
      flex-direction: column

  &__logo
    margin-right: 28px
    padding-right: 30px
    border-right: 1px solid #555
    @include media('<tablet')
      border: none
    @include media('<iphone')
      padding: 0
      margin: 0

  &__img
    @include media('<phablet')
      max-width: 200px

  &__text
    padding-bottom: 12px
    @include font-size(20)
    @include line-height(25.79)
    color: #264388
    @include media('<phablet')
      @include font-size(16)
      @include line-height(18)
    @include media('<tablet')
      display: none
    @include media('<iphone')
      display: block
      text-align: center

  &__contact
    display: flex
    flex-direction: column
    justify-content: center
    padding-right: 12px

  &__phone
    padding: 0 4px 22px
    font-family: $segoeui-sl-font-family
    font-weight: 400
    @include font-size(25.77)
    white-space: nowrap
    text-align: center
    @include media('<tablet')
      @include font-size(22)

  &__form-button
    display: flex
    align-items: center
    justify-content: center
    padding: 7px 14px
    background: $accent-color
    border: none
    color: #fefefe
    @include font-size(14)
    cursor: pointer
    @include media('<tablet')
      padding: 7px 10px

    &:before
      content: ''
      display: inline-block
      width: 13px
      height: 19px
      padding-right: 8px
      background: url("../img/phone.png") no-repeat

    &:hover
      text-decoration: underline
