.section
  padding-top: 27px

  &__title
    padding-bottom: 17px
    font-family: 'Segoe UI Light', 'Segoe UI', Helvetica, Arial, sans-serif
    font-weight: 300
    @include font-size(36)
    text-align: center

  &__text
    padding: 0 48px
    font-family: 'Segoe UI Semilight', 'Segoe UI', Helvetica, Arial, sans-serif
    @include font-size(16)
    @include line-height(20)
    text-align: center

    &--accent
      color: $accent-color